<div>
    <h1 class="float-left">ANZ Championship Statistics 2008 - 2013</h1>
    <div class="dropdown btn-group float-right">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Visualisation
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/q1">Season Performance</a>
            <a class="dropdown-item" href="/q2">Home Court Performance</a>
            <a class="dropdown-item" href="/q3">Intercountry Performance</a>
        </div>
    </div>
</div>