<!DOCTYPE html>
<html ng-app="app">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <!-- Common Scripts -->
    <% include ../partials/common.ejs %>
    <!-- Add your custom controller here! -->

</body>

</html>